<button class="btn btn-outline-success btn-block mb-3" data-toggle="modal" data-target="#addModal">
    <fa-icon [icon]="['fas', 'plus']" [fixedWidth]="true"></fa-icon>
    Ajouter un animal
</button>

<div #modal class="modal fade" id="addModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="float-left">
                    <h4>
                        <fa-icon [icon]="['fas', 'plus']" [fixedWidth]="true"></fa-icon>
                        Ajouter un animal
                    </h4>
                </div>
                <div class="float-right">
                    <button #modalCloser type="button" class="close" data-dismiss="modal">
                        <fa-icon [icon]="['fas', 'times']"></fa-icon>
                    </button>
                </div>
                <div class="clearfix"></div>
                <hr />
                <app-animal-form [onSubmit]="submit" submitText="Ajouter" submitIcon="plus"></app-animal-form>
            </div>
        </div>
    </div>
</div>