<div class="card border-0 shadow">
    <div class="card-body">
        <h4>
            <fa-icon [icon]="['fas', 'plus']" [fixedWidth]="true"></fa-icon>
            Ajouter un animal
        </h4>
        <hr />
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="clinic">
                        <fa-icon [icon]="['fas', 'clinic-medical']" [fixedWidth]="true"></fa-icon>
                        Clinique
                    </label>
                    <select #clinique class="form-control" id="clinic" value="" (change)="updateValidProprietaires(); removeInvalidInput($event)"
                        tabindex="1">
                        <option disabled selected hidden></option>
                        <option *ngFor="let clinique of cliniques" [value]="clinique.numclinique">
                            {{clinique.rue}}
                        </option>
                    </select>
                    <div class="invalid-feedback">
                        Ce champs est obligatoire
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">
                        <fa-icon [icon]="['fas', 'signature']" [fixedWidth]="true"></fa-icon>
                        Nom
                    </label>
                    <input #nom type="text" class="form-control" id="name" tabindex="3" (keyup)="removeInvalidInput($event)">
                    <div class="invalid-feedback">
                        Ce champs est obligatoire
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">
                        <fa-icon [icon]="['fas', 'info']" [fixedWidth]="true"></fa-icon>
                        Description
                    </label>
                    <textarea #description class="form-control" id="description" rows="8" maxlength="140"
                        tabindex="5" (keyup)="removeInvalidInput($event)"></textarea>
                        <div class="invalid-feedback">
                            Ce champs est obligatoire
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="proprietaire">
                        <fa-icon [icon]="['fas', 'user']" [fixedWidth]="true"></fa-icon>
                        Proprietaire
                    </label>
                    <select #proprietaire class="form-control" id="proprietaire" [disabled]="proprietaires.length === 0"
                        tabindex="2" (change)="removeInvalidInput($event)">
                        <option disabled selected hidden></option>
                        <option *ngFor="let proprietaire of proprietaires" [value]="proprietaire.numproprietaire">
                            {{proprietaire.prenom + " " + proprietaire.nom}}
                        </option>
                    </select>
                    <div class="invalid-feedback">
                        Ce champs est obligatoire
                    </div>
                </div>
                <div class="form-group">
                    <label for="type">
                        <fa-icon [icon]="['fas', 'paw']" [fixedWidth]="true"></fa-icon>
                        Type
                    </label>
                    <input #type type="text" class="form-control" id="type" tabindex="4" (keyup)="removeInvalidInput($event)">
                    <div class="invalid-feedback">
                        Ce champs est obligatoire
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthday">
                        <fa-icon [icon]="['fas', 'calendar-day']" [fixedWidth]="true"></fa-icon>
                        Date de naissance
                    </label>
                    <input #dob type="text" class="form-control" id="birthday" placeholder="AAAA-MM-JJ" tabindex="6" (keyup)="removeInvalidInput($event)">
                    <div class="invalid-feedback">
                        Ce champs est obligatoire
                    </div>
                </div>
                <div class="form-group">
                    <label for="registry">
                        <fa-icon [icon]="['fas', 'calendar-check']" [fixedWidth]="true"></fa-icon>
                        Date d'inscription
                    </label>
                    <input #doi type="text" class="form-control" id="registry" placeholder="AAAA-MM-JJ" tabindex="7" (keyup)="removeInvalidInput($event)">
                    <div class="invalid-feedback">
                        Ce champs est obligatoire
                    </div>
                </div>
                <div class="form-group">
                    <label for="state">
                        <fa-icon [icon]="['fas', 'heart']" [fixedWidth]="true"></fa-icon>
                        État
                    </label>
                    <select #etat class="form-control" id="state" tabindex="8" (change)="removeInvalidInput($event)">
                        <option disabled selected hidden></option>
                        <option value="vivant">Vivant</option>
                        <option value="decede">Décédé</option>
                    </select>
                    <div class="invalid-feedback">
                        Ce champs est obligatoire
                    </div>
                </div>
            </div>
        </div>

        <div class="float-right">
            <button type="button" class="btn btn-success" (click)="submit()" tabindex="9">
                Créer
                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>