/* You can add global styles to this file, and also import other style files */

$light: #EEEEEE;
$box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.20), 0 0px 2px rgba(0, 0, 0, 0.15);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
    height: 100%;
}
