<div class="card border-0 shadow">
    <div class="card-body">
        <h4>
            <fa-icon [icon]="['fas', 'th-list']" [fixedWidth]="true"></fa-icon>
            Animaux
        </h4>
        <hr />
        <div class="bg-white shadow rounded">
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th scope="col" class="border-top-0 text-right">
                            #
                        </th>
                        <th scope="col" class="border-top-0">
                            Nom
                        </th>
                        <th scope="col" class="border-top-0">
                            Type
                        </th>
                        <th scope="col" class="border-top-0">
                            Description
                        </th>
                        <th scope="col" class="border-top-0">
                            Date de naissance
                        </th>
                        <th scope="col" class="border-top-0">
                            Détails
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let animal of animals">
                        <th scope="row" width="1" class="text-right">
                            {{ animal.numanimal }}
                        </th>
                        <td>
                            {{ animal.nom }}
                        </td>
                        <td>
                            {{ animal.type }}
                        </td>
                        <td>
                            {{ animal.description }}
                        </td>
                        <td>
                            {{ formatDate(animal.dob) }}
                        </td>
                        <td width="1">
                            <app-details [animal]="animal"></app-details>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>